---
- name: Check if up is installed
  tags: ['up']
  stat:
    path: /usr/local/bin/up
  register: up_stat

- name: Download and install up (Ultimate Plumber)
  tags: ['up']
  block:
    - name: Download up binary
      get_url:
        url: "https://github.com/akavel/up/releases/download/v0.4/up"
        dest: /usr/local/bin/up
        mode: '0755'
  when: not up_stat.stat.exists or (force_update | default(false) | bool)
