# Path to oh-my-zsh installation
export ZSH="{{ user_home }}/.oh-my-zsh"

# Theme
ZSH_THEME="spaceship"

# Plugins
plugins=(
  z
  direnv
  git
  git-prompt
  git-extras
  git-flow
  github
  ssh-agent
  docker
  command-not-found
  screen
  tmux
  jsontools
  sudo
  supervisor
  spaceship
  vagrant
  vscode
  zsh-autosuggestions
  zsh-syntax-highlighting
  zsh-history-substring-search
  zsh-completions
  fzf
  zsh-fzf-history-search
)

source $ZSH/oh-my-zsh.sh

export SPACESHIP_TIME_SHOW=true
export SPACESHIP_TIME_FORMAT="%D @ %T"
export SPACESHIP_HOST_SHOW="always"

# User configuration
export EDITOR='vim'
export VISUAL='vim'

# Dim the Screen
/usr/bin/redshift -P -b 1.0 -O 3000

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# FZF Configuration
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'

# Direnv hook
eval "$(direnv hook zsh)"

# Custom aliases
alias ll='ls -lahFG'
alias reload='source ~/.zshrc'
alias zshconfig='vim ~/.zshrc'
alias la="exa --long --header --git"
alias gitl='git log --all --decorate --oneline --graph'
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
alias bat="batcat"

# Add local bin to PATH
export PATH="$HOME/.local/bin:$PATH"

# History configuration
HISTSIZE=50000
SAVEHIST=50000
setopt SHARE_HISTORY
setopt EXTENDED_HISTORY
setopt INC_APPEND_HISTORY